/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/** own design **/

/* open-sans-condensed-300 - latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/open-sans-condensed-v13-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'),
       url('fonts/open-sans-condensed-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-condensed-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-condensed-v13-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-condensed-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-condensed-v13-latin-300.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
}
/* open-sans-condensed-700 - latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/open-sans-condensed-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'),
       url('fonts/open-sans-condensed-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-condensed-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-condensed-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-condensed-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-condensed-v13-latin-700.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
}
/* anton-regular - latin */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/anton-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Anton Regular'), local('Anton-Regular'),
       url('fonts/anton-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/anton-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/anton-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/anton-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/anton-v10-latin-regular.svg#Anton') format('svg'); /* Legacy iOS */
}

html {
	overflow-y: scroll;
    overflow-x: hidden;
}

body {
	background-color: #02111d;
	color: #fff;
	font-family: "Open Sans Condensed", Helvetica, Arial, san-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 1.5;
}

b {
	font-weight: bold;
}
i {
	font-style: italic;
}

p {
	margin: 0 0 15px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Anton, Helvetica, Arial, san-serif;
	text-transform: uppercase;
	color: #fff;
	line-height: 1.1;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
	color: #e00429;
}

h1 {
	font-size: 100px;
	text-align: center;
}
h2 {
	font-size: 35px;
	display: inline-block;
    border-bottom: 2px solid #e00429;
	margin-bottom: 25px;
	padding-bottom: 10px;
}

.site {
	background-color: #02111d;
	width: 100%;
}
.site-background {
	z-index: 1;
}
.background-spacer {
	height: 50vh;
	background-color: #081d2e;
}
.background-spacer.bottom {
	background-color: #02111d;
	height: 100vh;
}
.background-image {
	background-color: #081d2e;
	background-image: url('img/protest.png'), url('img/gradient.png');
	background-repeat: repeat-x, no-repeat;
	background-position: bottom center, bottom -50px center;
	height: 500px;
	width: 100%;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}
.site-content {
	position: absolute;
	z-index: 999;
	display: block;
    margin: 0 auto;
    width: calc(100% - 60px);
    padding: 0 30px;
}
.header {
	padding: 15vh 0 5vh;
}
span.subheadline {
	font-size: 50px;
	text-align: center;
	display: block;
	text-transform: uppercase;
	font-family: "Open Sans Condensed", Helvetica, Arial, san-serif;
	color: #fff;
}
.subheadline.small {
	font-size: 32px;
}
.content {
	max-width: 800px;
	width: 100%;
	position: relative;
	margin: 0 auto;
	text-align: center;
}
.red-wrapper {
	background-color: #e00429;
	width: 100vw;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: -30px;
}

.red-wrapper h2 {
	border-bottom: 3px solid #02111d;
}
.red-wrapper .sub-info {
	font-size: 130%;
	margin-bottom: 20px;
}
.red-wrapper .absatz {
	padding: 40px 0 10px 0;
}

.red-wrapper a {
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	padding-bottom: 3px;
	margin-top: 20px;
	display: inline-block;
	font-weight: bold;
}
.red-wrapper a:hover {
	color: yellow;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

a.other {
	color: #02111d;
	background-color: #fff;
	padding: 8px 20px;
	font-size: 120%;
	margin-bottom: 20px;
	border: 0;
}
a.other:hover {
	color: #fff;
	background-color: #02111d;
}

.karte {
	background: url('img/gaensemarkt.jpg') no-repeat center;
	width: 100%;
	padding-bottom: 70%;
	margin: 20px 0;
}

article.col-2 {
  -webkit-columns: 2 250px;
     -moz-columns: 2 250px;
          columns: 2 250px;
  -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
          column-gap: 2em;
		  clear: both;
}

article.col-3 {
  -webkit-columns: 3 200px;
     -moz-columns: 3 200px;
          columns: 3 200px;
  -webkit-column-gap: 1.5em;
     -moz-column-gap: 1.5em;
          column-gap: 1.5em;
		  clear: both;
		  margin-top: 30px;
}
article.col-4 {
  -webkit-columns: 4 190px;
     -moz-columns: 4 190px;
          columns: 4 190px;
  -webkit-column-gap: 1.5em;
     -moz-column-gap: 1.5em;
          column-gap: 1.5em;
		  clear: both;
}

img {
	height: auto;
	width: 100%;
    max-width: 100%;
	margin-bottom: 1.5em;
}
a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
.gallery a {
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.gallery a:hover {
	opacity: 0.5;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.absatz {
	padding: 40px 0;
}
.navigation {
	font-family: Anton, Helvetica, Arial, san-serif;
	text-transform: uppercase;
	color: #fff;
	width: 100vw;
	margin-left: -30px;
	padding: 20px 0;
	text-align: center;
	background-color: #081d2e;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 999;
}
.navigation a {
	font-size: 40px;
	color: #fff;
	text-decoration: none;
	padding: 15px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.navigation a:hover {
	color: #e00429;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.impr a {
	color: #1a4061;
	text-decoration: none;
}
p.impr {
	text-align: center;
}

@media (max-width: 1000px) {
	h1 { font-size: 80px; }
	.subheadline.small { 
		font-size: 26px; 
		padding-top: 15px;
	}
}
@media (max-width: 700px) {
	h1 { font-size: 70px; }
}
@media (max-width: 500px) {
	h1 { font-size: 60px; }
	h2 { font-size: 25px; }
	.navigation a {
		font-size: 25px;
	}
	.subheadline {
		font-size: 30px;
		padding-bottom: 10px;
	}
	.subheadline.small {
		font-size: 20px;
		padding-top: 20px;
	}
	.site-content {
		font-size: 16px;
	}
	.red-wrapper .content {
		padding: 0 30px;
		width: calc(100% - 60px);
	}
}

@media (max-width: 360px) {
	h1 { font-size: 50px; }
}